* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clickable {
  cursor: pointer;
}

.button {
  padding: .4em .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.3em;
  height: 40px;
}

.button.button-primary {
  background-color: hsl(10, 80%, 50%);
  color: hsl(0, 95%, 100%);
}

.button .button-text {
  margin: 0 .5em;
  line-height: 1;
}

h4 {
  font-size: 1.1em;
  font-weight: 900;
  margin-bottom: 0.2em;
  text-transform: uppercase;
}

h5 {
  font-size: 0.9em;
  margin-bottom: 0.2em;
}
